# Cartesia
CARTESIA_API_KEY=
CARTESIA_VOICE_ID=

# Daily
DAILY_API_KEY=
DAILY_SAMPLE_ROOM_URL=

# Deepgram
DEEPGRAM_API_KEY=

# Google
GOOGLE_API_KEY=

#Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
